<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
        <div class="brand">
            <div class="title center-align">
                <% if (config.subtitle && config.subtitle.length > 0) { %>
                    <%= config.subtitle %>
                <% } else { %>
                    subtitle
                <% } %>
            </div>

            <div class="description center-align">
                <% if (config.description && config.description.length > 0) { %>
                    <%= config.description %>
                <% } else { %>
                    This is your root _config.yml 'description' value.
                <% } %>
            </div>
        </div>
    </div>
</div>
<script>
// 每天切换 banner 图.  Switch banner image every day.
if (screen.width < 601) {
    $('.bg-cover').css('background-image', 'url(/medias/banner/' + Number(new Date().getDay()) + '.jpg)');
} else if (screen.width < 992) {
    $('.bg-cover').css('background-image', 'url(/medias/banner/' + (Number(new Date().getDay()) + 1) + '.jpg)');
} else {
    $('.bg-cover').css('background-image', 'url(/medias/banner/' + (Number(new Date().getDay()) + 2) + '.jpg)');
}
</script>